@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Handlee&display=swap');
body {
    background-color: #ff5757;
    text-align: center;
    font-family: Handlee;
    margin: 0;
    padding: 0;
}

.kontener {
    width: 750px;
    margin: 0 auto;
    padding: 20px;
    color: azure;
    font-size: 20px;
}

h2 {
  font-size: 30px;  
}

p {
    font-size: 20px;
}

h2, p {
    font-weight: bold;
}

span {
    font-size: 40px;
}

.tombol {
    margin-top: 15px;
}

button {
    display: inline;
    background: transparent;
    width: 100px;
    height: 40px;
    color: azure;
    outline: none;
    border: 1px solid azure;
    border-radius: 5px;
    font-family: Handlee;
}

button:hover {
    background-color: azure;
    color: #ff5757;
    font-weight: bold;
}

@media (max-width : 900px) {
    .kontener {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width : 600px) {
    button {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
